%align_center {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-serif;
}

//Navbar Section

.navbar {
  background: $beige;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) /2);
  z-index: 10;
  position: relative;

  &_logo {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align_center;
  }

  &_bars {
    opacity: 0;
    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 1rem;
    }
  }

  &_menu {
    @extend %align_center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include tablet {
      display: none;
    }

    &_links {
      color: $dark;
      @extend %align_center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $red;
        transition: all 0.3s ease;
      }
    }

    #button {
      padding: 12px 24px;
      border: none;
      outline: none;
      border-radius: 4px;
      background: $red;
      margin-left: 16px;
      color: $beige;

      &:hover {
        background: $lime;
        transition: all 0.3s ease;
      }
    }
  }
}

//Hero Section

.hero {
  background-color: $light;

  &_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 100vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &_left {
      width: 100%;
      line-height: 1.2;
      margin-right: 30px;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &_left h1 {
      font-size: 4rem;
      color: $blue;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &_left h2 {
      font-size: 3rem;
      margin-top: 1rem;
      color: $red;

      @include mobile {
        font-size: 2rem;
      }
    }

    &_left p {
      font-size: 2rem;
      color: $red;
      margin-top: 1.5rem;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &_right {
      text-align: center;
    }

    &_img {
      height: 100%;
      width: 100%;
    }
    
  }
}

