<!-- Footer Section -->

<footer class="footer">
    <ul class="footer_menu">
        <li class="footer_menu_list">
            <a class="footer_menu_list_link" href="#">Inicio</a>
        </li>
        <li class="footer_menu_list">
            <a class="footer_menu_list_link" href="#section1">Qué es</a>
        </li>
        <li class="footer_menu_list">
            <a class="footer_menu_list_link" href="#section2">Herramientas</a>
        </li>
        <li class="footer_menu_list">
            <a class="footer_menu_list_link" href="#section3">Técnicas</a>
        </li>
        <li class="footer_menu_list">
            <a class="footer_menu_list_link" href="#section4">Decoración</a>
        </li>
    </ul>

    <ul class="footer_social_icons">
        <li class="footer_social_icons_list">
            <a class="footer_social_icons_list_link"
                ><i class="fa-brands fa-facebook"></i
            ></a>
        </li>
        <li class="footer_social_icons_list">
            <a class="footer_social_icons_list_link"
                ><i class="fa-brands fa-instagram"></i
            ></a>
        </li>
        <li class="footer_social_icons_list">
            <a class="footer_social_icons_list_link"
                ><i class="fa-brands fa-twitter"></i
            ></a>
        </li>
        <li class="footer_social_icons_list">
            <a class="footer_social_icons_list_link"
                ><i class="fa-brands fa-google-plus"></i
            ></a>
        </li>
        <li class="footer_social_icons_list">
            <a class="footer_social_icons_list_link"
                ><i class="fa-brands fa-youtube"></i
            ></a>
        </li>
    </ul>

    <ul class="footer_menu2">
        <li class="footer_menu2_list">
            <a class="footer_menu2_list_link">Aviso legal</a>
        </li>
        <li class="footer_menu2_list">
            <a class="footer_menu2_list_link">Política de privacidad</a>
        </li>
        <li class="footer_menu2_list">
            <a class="footer_menu2_list_link">Política de cookies</a>
        </li>
    </ul>

    <div class="footer_info">
        <p>
            &copy; 2023 Anastasiya Eysmont Pronyuk | Todos los derechos
            reservados
        </p>
    </div>
</footer>
