@use "sass:color";

$font-family-serif: 'Young Serif', serif;
$font-family-bodoni: 'Bodoni Moda', serif;



$hover:#9fe7ff;
$black: #000000;
$white: #fff;
$beige: rgba(255, 224, 178, 0.587);
$footer: #36a2c8;


$mqMinWidth: 420px;
